<% provide(:title, "Top") %>

<% unless flash %>
    <%# 文字は見えていないが、消すと体裁が崩れるの空白で残す %>
    <h2>　</h2>
<% end %>

<main>
    <header class="bg-primary bg-gradient text-white">
        <% if flash.present? %>
            <div class="container px-4 text-center">
        <% else %>
            <div class="container px-4 mt-5 text-center">
        <% end %>
            <h3 class="articles_list px-4 text-center"><%= "All Articles" %></h3>
            <p class="lead">You can search by username, meal, exercise, or notes</p>
            <div class="search-form">
                <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword, class: "search-box" %>
                    <%# 検索ボタンにclassをつける場合 f.submit "検索", class: "btn-outline-success text-nowrap" %>
                    <%= f.submit "SEARCH" %>
                <% end %>
            </div>
        </div>
    </header>

    <% @articles.each_with_index do |article, i| %>
    <% if i % 2 == 0 %>
        <div class="jumbotron p-3 p-md-5 text-black rounded bg-white container">
    <% else %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark container">
    <% end %>
            <div class="row">
                <h1 class="display-4 font-italic">WEIGHT LOSS(FROM THE BEGGINING):<%= weight_loss(article) %>kg</br>BODY FAT PERCENTAGE:<%= article.body_fat_percentage %>% </h1>
            </div>
            <div class="row">
                <div class="col-lg-2 text-position">
                    <div class="image">
                        <% if article.user.image == "default.png" %>
                            <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                        <% else %>
                            <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                        <% end %>
                    </div>
                    <div class="name-position">
                        <p><%= link_to article.user.name, user_path(article.user_id) %></p>
                        <p><%= link_to "投稿一覧", user_articles_path(article.user_id), class: "btn btn-secondary" %></p>

                        <div class="flex">
                            <div class="item box1 pt-1">
                                <p class="content good">
                                    <span id="article_<%= article.id %>"> <%# 非同期通信のためのid設定 %>
                                        <%= render 'layouts/article', article: article %> <%# 「,」の後ろは、article: で変数を定義している %>
                                    </span>
                                </p>
                            </div>
                            <div class="item box2 chat-position">
                                <%# 置き場所を正しくして、"/public/chat.svg"だと動かなかったが、"/user_images/chat.svg"だと動く 謎 背景色により見えなくなってしまうため、２種類の画像を用意 %>
                                <% if i % 2 == 0 %>
                                    <%= link_to image_tag("/user_images/chat.png"), user_article_path(user_id: article.user_id, id:article.id) %>
                                <% else %>
                                    <%= link_to image_tag("/user_images/chat.svg"), user_article_path(user_id: article.user_id, id:article.id) %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-10 position-relative">
                    <%# </br> <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p> %>
                    <p class="lead my-3">DATE:<%= article.date %>　UP TO TARGET:
                    <%# article.user.target_weightがnilの場合引き算があるとエラーになるためif文追記 %>
                    <% if article.user.target_weight %>
                        <%= (article.weight - article.user.target_weight).round(1) %>
                    <% end %> kg
                    　TARGET WEIGHT:<%= article.user.target_weight %> kg　WEIGHT:<%= article.weight %>kg　MEAL MORNING:<%= article.meal_morning %>　
                    MEAL LUNCH:<%= article.meal_lunch %>　MEAL DINNER:<%= article.meal_dinner %>　MEAL SNACK:<%= article.meal_snack %>
                    　EXCERCISE:<%= article.exercise %>　MEMO:<%= article.memo %></p>
                    <%# <p class="lead mb-0"><a href="#" class="text-blue font-weight-bold">Continue reading...</a></p> %>

                    <div class="position-absolute bottom-0 end-0">
                        <p><%= link_to "Continue reading...", user_article_path(user_id: article.user_id, id:article.id), class: "lead mb-0 d-flex justify-content-end" %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</main>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
