<% provide(:title, "top") %>

<main>
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Please Enter Keywords</h1>
            <p class="lead">You can search by username, meal, exercise, or notes</p>
            <%# <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> "%>
            <div class="search-form">
                <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword, class: "search-box" %>
                    <%= f.submit "SEARCH", class: "btn-outline-success text-nowrap" %>
                <% end %>
            </div>
        </div>
    </header>

    <% @articles.each_with_index do |article, i| %>
    <% if i % 2 == 0 %>
        <div class="jumbotron p-3 p-md-5 text-black rounded bg-white container">
    <% else %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark container">
    <% end %>
            <div class="row">
                <h1 class="display-4 font-italic">WEIGHT LOSS(FROM THE BEGGINING):<%= weight_loss(article) %>kg</br>BODY FAT PERCENTAGE:<%= article.body_fat_percentage %>% </h1>
            </div>
            <div class="row">
                <div class="col-lg-2 text-position">
                    <div class="image">
                        <% if article.user.image == "default.png" %>
                            <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                        <% else %>
                            <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                        <% end %>
                    </div>
                    <div class="name-position">
                        <p><%= link_to article.user.name, user_path(article.user_id) %></p>
                        <p><%= link_to "投稿一覧", user_articles_path(article.user_id), class: "btn btn-info" %></p>
                        <p class="content good">
                            <span id="article_<%= article.id %>"> <%# 非同期通信のためのid設定 %>
                                <%= render 'layouts/article', article: article %> <%# 「,」の後ろは、article: で変数を定義している %>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-10 position-relative">
                    <%# </br> <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p> %>
                    <p class="lead my-3">DATE:<%= article.date %>　UP TO TARGET:<%= (article.user.target_weight - article.weight).round(1) %>kg　TARGET WEIGHT:<%= article.user.target_weight %>kg　WEIGHT:<%= article.weight %>kg　MEAL MORNING:<%= article.meal_morning %>　
                    MEAL LUNCH:<%= article.meal_lunch %>　MEAL DINNER:<%= article.meal_dinner %>　MEAL SNACK:<%= article.meal_snack %>
                    　EXCERCISE:<%= article.exercise %>　MEMO:<%= article.memo %></p>
                    <%# <p class="lead mb-0"><a href="#" class="text-blue font-weight-bold">Continue reading...</a></p> %>

                    <div class="position-absolute bottom-0 end-0">
                        <p><%= link_to "Continue reading...", user_article_path(user_id: article.user_id, id:article.id), class: "lead mb-0 d-flex justify-content-end" %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</main>


    <!-- Footer-->
    <%# <footer class="py-5 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer> %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>


       <%# <section id="about"> %>
    
<%# 

</html>
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8"> %>
                        <%# <h2>About this page</h2> %>

                        <%# <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#">Featured post</a>
                                        </h3>
                                        <div class="mb-1 text-muted">Nov 12</div>
                                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#">Continue reading</a>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1862b7f45ca%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1862b7f45ca%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#">Post title</a>
                                        </h3>
                                        <div class="mb-1 text-muted">Nov 11</div>
                                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#">Continue reading</a>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1862b7f45cc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1862b7f45cc%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                                </div>
                            </div>
                        </div> %>



<%
=begin %>



                        <div>
                            <div class="image">
                                <% if article.user.image == "default.png" %>
                                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                                <% else %>
                                    <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                                <% end %>
                            </div>
                            <%= link_to "ユーザーの投稿一覧", user_articles_path(article.user_id), class: "btn btn-info" %>
                            <div class="content good">
                                <p id="article_<%= article.id %>"> <%# 非同期通信のためのid設定 %>
                                    <%= render 'layouts/article', article: article %> <%# 「,」の後ろは、article: で変数を定義している %>
                                </p>
                            </div>
                        </div>
                        <%# <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p> %>
                        <ul>
                            <li>                                
                                <p>(名前)</p>
                                <%= link_to article.user.name, user_path(article.user_id) %>
                                <p>(計測日)</p>
                                <p class="make_a_margin-bottom"><%= article.date %></p>
                            </li>
                            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>


---------------------------------------------
                        <div class="name">
                                <p>(名前)</p>
                                <%= link_to article.user.name, user_path(article.user_id) %>
                                <p>(計測日)</p>
                                <p class="make_a_margin-bottom"><%= article.date %></p>
                            </div>

                            <div class="weight">
        <p>(目標との乖離)</p>
                                <p class="make_a_margin-bottom"><%= article.weight %></p>
                                <p>(体重)</p>
                                <p class="make_a_margin-bottom"><%= article.weight %></p>
                                <p>(体脂肪率)</p>
                                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
                            </div>
                            <div class="meal">
                                <p>(食事(朝))</p>
                                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                                <p>(食事(昼))</p>
                                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                                <p>(食事(夜))</p>
                                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                                <p>(食事(間食))</p>
                                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
                            </div>
                            <div class="exercise">
                                <p>(運動)</p>
                                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                                <p>(メモ)</p>
                                <p class="make_a_margin-bottom"><%= article.memo %></p>
                            </div>
                        </div>
                        <div class="content button_zone">

                            <div class="article_button">
                                <%# 書き方注意、user_id,idが必要 user_article_path(user_id: article.user_id, id:article.id) %>
                                <%= link_to "詳細", user_article_path(user_id: article.user_id, id:article.id), class: "btn btn-info" %>
                                <% if logged_in? %>
                                    <% if current_user.admin %>
                                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                                    <% elsif article.user_id == current_user.id %>
                                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                                    <% end %>
                                <% end %>
                            </div>
                            <!--コメント投稿部分-->
                            <%# @commentがsaveに失敗した場合、@commentに情報が残っているので条件分岐できる %>
                            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                                <div class="new-comment">
                                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'top_index' } %>
                                </div>
                            <% else %>
                                <div class="new-comment">
                                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'top_index' } %>
                                </div>
                            <% end %>

                            <!--コメント一覧部分-->
                            <div id="comments_area">
                                <%= render 'comments/article_comments', article: article, comment: @comment, controller_path: 'top_index' %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    <% end %>

<%
=end %>

        <!-- Services section-->
        <%# <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section> %>
        <!-- Contact section-->
        <%# <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section> %>

<%
=begin %>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

</html>










元の通常のページ
<h2 class="articles_list">投稿一覧(home)</h2>
<div class="search-form">
    <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
    <% end %>
</div>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div>
                <div class="image">
                    <% if article.user.image == "default.png" %>
                        <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                    <% else %>
                        <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                    <% end %>
                </div>
                <%= link_to "ユーザーの投稿一覧", user_articles_path(article.user_id), class: "btn btn-info" %>
                <div class="content good">
                    <%# 非同期通信のためのid設定 %>
                    <p id="article_<%= article.id %>">
                    <%# 「,」の後ろは、article: で変数を定義している %>
                        <%= render 'layouts/article', article: article %>
                    </p>
                </div>
            </div>

            <div class="name">
                <p>(名前)</p>
                <%= link_to article.user.name, user_path(article.user_id) %>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>

            <div class="weight">
                <p>(目標との乖離)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">

            <div class="article_button">
                <%# 書き方注意、user_id,idが必要 user_article_path(user_id: article.user_id, id:article.id) %>
                <%= link_to "詳細", user_article_path(user_id: article.user_id, id:article.id), class: "btn btn-info" %>
                <% if logged_in? %>
                    <% if current_user.admin %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% elsif article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                <% end %>
            </div>
            <!--コメント投稿部分-->
            <%# @commentがsaveに失敗した場合、@commentに情報が残っているので条件分岐できる %>
            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'top_index' } %>
                </div>
            <% else %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'top_index' } %>
                </div>
            <% end %>

            <!--コメント一覧部分-->
            <div id="comments_area">
                <%= render 'comments/article_comments', article: article, comment: @comment, controller_path: 'top_index' %>
            </div>
        </div>
    </article>
<% end %>
<%
=end %>

<%
=begin %>
bootstrapの元のページ

<%# <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head> %>
    <%# <body id="page-top"> %>
        <!-- Navigation-->
        <%# <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
                <p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
                <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
            </div>
        </header> %>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this page</h2>
                        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                        <ul>
                            <li>Clickable nav links that smooth scroll to page sections</li>
                            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    <%# </body> %>
</html>
<%
=end %>

<%
=begin %>
            <div class="new-comment">
<%# リダイレクト先のパスを指定するため変数を定義 controller_path: 'top_index' %>
                <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'top_index' } %>
            </div>


            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'top_index' } %>
                </div>
            <% else %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'top_index' } %>
                </div>
            <% end %>


        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
<%
=end %>



