
<h2 class="articles_list">投稿一覧(home)</h2>
<div class="search-form">
    <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
    <% end %>
</div>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div class="image">
                <% if article.user.image == "default.png" %>
                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                <% else %>
                    <%= image_tag "/user_images/user_#{article.user.id}.png", size: '150x150' %>
                <% end %>
                <%= link_to "ユーザーの投稿一覧", user_articles_path(article.user.id), class: "btn btn-info" %>
            </div>
            <div class="name">
                <p>(名前)</p>
                <p class="make_a_margin-bottom"><%= article.user.name %></p>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>

            <div class="weight">
                <p>(目標との乖離)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">
            <div class="content good">
                <%# 非同期通信のためのid設定 %>
                <p id="article_<%= article.id %>">
                <%# 「,」の後ろは、article: で変数を定義している %>
                    <%= render 'layouts/article', article: article %>
                </p>
                <%= image_tag '/comment.png', size: '30x30', class:"good_position" %>
                <%# <p>コメント</p> %>
            </div>
            <div class="article_button">
            <%# 書き方注意、user_id,idが必要 user_article_path(user_id: article.user_id, id:article.id) %>
                <% if logged_in? %>
                    <% if current_user.admin %>
                        <%= link_to "詳細", user_article_path(user_id: article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% elsif article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% else %>
                        <%= link_to "詳細", user_article_path(user_id: article.user_id, id:article.id), class: "btn btn-info" %>
                    <% end %>
                <% else %>
                    <%= link_to "詳細", user_article_path(user_id: article.user_id, id:article.id), class: "btn btn-info" %>
                <% end %>
            </div>
            <!--コメント投稿部分-->
            <div class="new-comment">
<%# リダイレクト先のパスを指定するため変数を定義 controller_path: 'top_index' %>
                <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'top_index' } %>
            </div>

            <!--コメント一覧部分-->
            <div id="comments_area">
                <%= render 'comments/article_comments', article: article, comment: @comment %>
            </div>
        </div>
    </article>
<% end %>


<%
=begin %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
<%
=end %>



