
<% provide(:title, "Login") %>

<%= render 'shared/error_messages' %>

<main class="position-relative">
    <div class="form-signin position-absolute top-50 start-50 translate-middle">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">LOG IN</h1>
            <div class="text-center mb-4">
                <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
                    <div class="mb-3">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control', required:true , autofocus:true %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control', required:true %>
                    </div>

                    <div class="checkbox mb-3">
                        <%# # label要素のfor属性は、ラベル付け対象であるラベル付け可能フォーム関連要素のid属性値を指定する属性。 %>
                        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
                            <%= f.check_box :remember_me, id: "remember-me" %>
                            <span>ログイン情報を記憶する</span>
                        <% end %>
                    </div>

                    <div class="mb-3"><%= f.submit "LOG IN", class: "btn btn-primary btn-block btn-login" %></div>
                <% end %>
                <div>ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %></div>
            </div>
        </div>
    </div>
</main>


<%# <!doctype html>
<html lang="ja" >
<head>
<title>Floating labels example for Bootstrap ﾂｷ Bootstrap</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="floating-labels.css" rel="stylesheet">
</head> %>

<%# <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a> %>


<%
=begin %>
    <form class="form-signin"> %>
        <div class="text-center mb-4">
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>
-----------------------
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
</main>

<%
=end %>

<%
=begin %>


<%# <!doctype html>
<html lang="ja" >
<head>
<title>Floating labels example for Bootstrap ﾂｷ Bootstrap</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="floating-labels.css" rel="stylesheet">
</head> %>

<%# <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a> %>
<main>
    <form class="form-signin">
        <div class="text-center mb-4">
            <%# <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> %>
            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <%# <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> %>
    </form>
</main>


<h1>ログイン</h1>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <%= f.label :email, class: "label-login" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, class: "label-login" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%# # label要素のfor属性は、ラベル付け対象であるラベル付け可能フォーム関連要素のid属性値を指定する属性。 %>
        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
        <% end %>

        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
        <p>
        ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
        </p>
    </div>
</div>


<%
=end %>

