<% provide(:title, "User Articles Top") %>

<main>
    <header class="bg-primary bg-gradient text-white">
        <%# <div class="container px-4 text-center     position-absolute top-0 start-0"> %>
        <h3 class="articles_list px-4 mt-5 text-center"><%= "投稿一覧 ：" + @user.name %></h3>
        <div class="container px-4">
            <div class="row">
                <%# <h1 class="fw-bolder">　</h1>  %>
                <%# Please Enter Keywordsの文字は見えていないが、消すと体裁が崩れるの空白で残す %>
                        <%# <p class="lead">You can search by username, meal, exercise, or notes</p> %>
                        <%# <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> "%>
                <p id="notice"><%= notice %></p>
                <%# chart.jsの読み込み %>
                <div class="col-lg-4 row">
                    <div class="align-items-start">
                        <h4 class="mb-3">グラフ年月絞り込み</h4>
                        <%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
                            <div class="field mb-3">
                                <%# オプション :use_month_numbers 月を数字で表示,:discard_day 日の選択ボックスを非表示, include_blank: true 空を含めて表示→不要 %>
                                <% if @description_first_day %>
                                    <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true, selected: @description_first_day.to_date %>
                                <% else %>
                                    <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true %>
                                <% end %>
                                    <%= f.hidden_field :user_id, value: params[:user_id] %>
                            <%# コントローラーに配列を渡す %>
                                    <% @articles.each do |article| %>
                                        <%= hidden_field_tag 'articles[][id]', article.id %>
                                    <% end %>

                                <%# 検索語句絞り込みのインスタンス変数を渡す %>
                                <% if params[:keyword] %>
                                    <%= f.hidden_field :keyword, value: params[:keyword] %>
                                <% end %>
                                <% if params[:date_from] %>
                                    <%= f.hidden_field :date_from, value: params[:date_from] %>
                                <% end %>
                                <% if params[:date_to] %>
                                    <%= f.hidden_field :date_to, value: params[:date_to] %>
                                <% end %>
                            </div>
                            <div class="mb-3"><%= f.submit "検索" %></div>
                        <% end %>
                    </div>

                    <div class="align-items-end">
                        <h4 class="mb-3">キーワード、日付で投稿検索</4>
                        <%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
                            <div class="field mb-3">
                                <%= f.text_field :keyword, value: params[:keyword] %>
                                <%= f.hidden_field :user_id, value: params[:user_id] %>
                                <% if @first_day %>
                                    <%= f.hidden_field :first_day, value: @first_day %>
                                <% end %>
                                <% if @articles_one_month_date == nil %>
                                    <%= f.hidden_field :articles_one_month_date, value: @articles_one_month_date %>
                                <% end %>
                                <% if @articles_one_month %>
                                    <% @articles_one_month.each do |article| %>
                                        <%= hidden_field_tag 'articles_one_month[][id]', article.id %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="field mb-3">
                                <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
                            </div>

                            <%# 年月絞り込みのインスタンス変数を渡す %>
                            <% if @description_first_day %>
                                <%= f.hidden_field :description_first_day, value: @description_first_day %>
                            <% end %>
                            <div class="mb-3"><%= f.submit "検索" %></div>
                        <% end %>
                    </div>
                </div>

                <div class="col-lg-8">
                    <h4 class="mb-3">体重推移</h4>
                    <% if @articles_one_month_date == nil %>
                        <p>※ グラフデータがありません</br>
                        ※ 他の月のグラフを表示させる場合は、年月を入力して検索ボタンを押してください</p>
                    <% end %>

                    <%# グラフ表示 %>
                    <% if @articles_one_month_date %>
                        <div class="container bg-white" style="width:100%, length:70%">
                            <canvas id="canvas"></canvas>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </header>

    <% @articles.each_with_index do |article, i| %>
    <% if i % 2 == 0 %>
        <div class="jumbotron p-3 p-md-5 text-black rounded bg-white container">
    <% else %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark container">
    <% end %>
            <div class="row">
                <h1 class="display-4 font-italic">WEIGHT LOSS(FROM THE BEGGINING):<%= weight_loss(article) %>kg</br>BODY FAT PERCENTAGE:<%= article.body_fat_percentage %>% </h1>
            </div>
            <div class="row">
                <div class="col-lg-2 text-position">
                    <div class="image">
                        <% if article.user.image == "default.png" %>
                            <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                        <% else %>
                            <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                        <% end %>
                    </div>
                    <div class="name-position">
                        <p><%= link_to article.user.name, user_path(article.user_id) %></p>
                        <p><%= link_to "投稿一覧", user_articles_path(article.user_id), class: "btn btn-info" %></p>
                        <div class="flex">
                            <div class="item box1 pt-1">
                                <p class="content good">
                                    <span id="article_<%= article.id %>"> <%# 非同期通信のためのid設定 %>
                                        <%= render 'layouts/article', article: article %> <%# 「,」の後ろは、article: で変数を定義している %>
                                    </span>
                                </p>
                            </div>
                            <div class="item box2 chat-position">
                                <%# 置き場所を正しくして、"/public/chat.svg"だと動かなかったが、"/user_images/chat.svg"だと動く 謎 背景色により見えなくなってしまうため、２種類の画像を用意 %>
                                <% if i % 2 == 0 %>
                                    <%= link_to image_tag("/user_images/chat.png"), user_article_path(user_id: article.user_id, id:article.id) %>
                                <% else %>
                                    <%= link_to image_tag("/user_images/chat.svg"), user_article_path(user_id: article.user_id, id:article.id) %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-10 position-relative">
                    <%# </br> <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p> %>
                    <p class="lead my-3">DATE:<%= article.date %>　UP TO TARGET:<%= (article.user.target_weight - article.weight).round(1) %>kg　TARGET WEIGHT:<%= article.user.target_weight %>kg　WEIGHT:<%= article.weight %>kg　MEAL MORNING:<%= article.meal_morning %>　
                    MEAL LUNCH:<%= article.meal_lunch %>　MEAL DINNER:<%= article.meal_dinner %>　MEAL SNACK:<%= article.meal_snack %>
                    　EXCERCISE:<%= article.exercise %>　MEMO:<%= article.memo %></p>
                    <%# <p class="lead mb-0"><a href="#" class="text-blue font-weight-bold">Continue reading...</a></p> %>

                    <div class="position-absolute bottom-0 end-0">
                        <p><%= link_to "Continue reading...", user_article_path(user_id: article.user_id, id:article.id), class: "lead mb-0 d-flex justify-content-end" %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<%# erbのコード コントローラーからビューへ配列を渡すための記述 %>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_date_j %> class='arr_json1'/>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_weight_j %> class='arr_json2'/>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_body_fat_percentage_j %> class='arr_json3'/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

<script>
// arr_json取得
var arrJson1 = $('.arr_json1').val();
var articles_one_month_date_j = JSON.parse(arrJson1);

var arrJson2 = $('.arr_json2').val();
var articles_one_month_weight_j = JSON.parse(arrJson2);

var arrJson3 = $('.arr_json3').val();
var articles_one_month_body_fat_percentage_j = JSON.parse(arrJson3);

var barChartData = {
    labels: articles_one_month_date_j,
    datasets: [
    {
        type: 'line',
        label: '体重',
        data: articles_one_month_weight_j,
        borderColor: "rgba(254,97,132,0.8)",
        pointBackgroundColor: "rgba(254,97,132,0.8)",
        fill: false,
        spanGaps: true,
        yAxisID: "y-axis-1",// 追加
    },
    {
        type: 'line',
        label: '体脂肪率',
        data: articles_one_month_body_fat_percentage_j,
        borderColor: "rgba(54,164,235,0.8)",
        pointBackgroundColor: "rgba(254,97,132,0.8)",
        fill: false,
        spanGaps: true,
        backgroundColor: "rgba(54,164,235,0.5)",
        yAxisID: "y-axis-2",
    },
    ],
};
</script>

<script>
// // コントローラーからhtmlで変数を受け取る
var max_weight = '<%= @max_weight %>'
console.log(max_weight);
var min_weight = '<%= @min_weight %>';
console.log(min_weight);
var max_body_fat_percentage = '<%= @max_body_fat_percentage %>';
console.log(max_body_fat_percentage);
var min_body_fat_percentage = '<%= @min_body_fat_percentage %>';
console.log(min_body_fat_percentage);

var complexChartOption = {
    responsive: true,
    scales: {
        yAxes: [{
            id: "y-axis-1",
            type: "linear",
            position: "left",
            ticks: {
                max: Math.round((Number(max_weight) + 3)),
                min: Math.round((Number(min_weight) - 5)),
                stepSize: 1,
            },
        }, {
            id: "y-axis-2",
            type: "linear",
            position: "right",
            ticks: {
                max: Math.round((Number(max_body_fat_percentage) + 1)),
                min: Math.round((Number(min_body_fat_percentage) - 1)),
                stepSize: 0.5,
            },
            gridLines: {
                drawOnChartArea: false,
            },
        }],
    }
};
</script>

<script>
window.onload = function() {
    ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
// barChartData、complexChartOptionを呼び出す　
        data: barChartData,
        options: complexChartOption
    });
};
</script>





<script>
    //    data: ['75.3','70.1','70.1','70.3','70.4','70.2','65.65',
    //         '65.2','65.3','65.11','65.5','65.2','65.5','62.4',
    //         '62.62','62.3','62.7','62.3','62.6','62.4','62.9',
    //         '60.7','60.4','60.8','60.7','60.4','60.7','60.8'
    //     ],
    //     data: ['10.3','10.1','10.1','10.3','10.4','10.2','10.0',
    //         '10.2','10.3','10.11','10.5','10.2','10.5','10.4',
    //         '10.0','10.3','10.7','10.3','10.6','10.4','10.9',
    //         '10.7','10.4','10.8','10.7','10.4','10.7','10.8'
    //     ],


// // arr_json取得
// var arrJson1 = $('.arr_json1').val();
// try {
// // arr_jsonをパースし配列にする
//     var articles_one_month_date_j = JSON.parse(arrJson1);
//     console.log('エラーではない!!!!');
// } catch (error) {
// 	//エラー時の処理
//     console.log('エラー!!!!');
// }

// var arrJson2 = $('.arr_json2').val();
// try {
//     var articles_one_month_weight_j = JSON.parse(arrJson2);
//     console.log('エラーではない!!!!');
// } catch (error) {
//     console.log('エラー!!!!');
// }

// var arrJson3 = $('.arr_json3').val();
// try {
//     var articles_one_month_body_fat_percentage_j = JSON.parse(arrJson3);
//     console.log('エラーではない!!!!');
// } catch (error) {
//     console.log('エラー!!!!');
// }
// 配列から配列にする記述
// var test = []
// articles_one_month_weight_j.forEach(article =>{
//     test.push(String(article))
// });


// console.log('パース前 arrJson1の出力');
// console.log(arrJson1);
// console.log('arrJson1のタイプ確認');
// console.log(typeof(arrJson1));

// console.log('articles_one_month_date_jでJSON.parseができているか確認');
// 確認用のログ出力
// console.log('articles_one_month_date_jの出力');
// console.log(articles_one_month_date_j);
// console.log('articles_one_month_date_jのタイプの出力');
// console.log(typeof(articles_one_month_date_j));
// console.log('articles_one_month_weight_jでJSON.parseができているか確認');

// console.log('articles_one_month_weight_jの出力');
// console.log(articles_one_month_weight_j);
// console.log('articles_one_month_weight_jのタイプの出力');
// console.log(typeof(articles_one_month_weight_j));


// 確認用のログ出力
// console.log('articles_one_month_body_fat_percentage_jの出力');
// console.log(articles_one_month_body_fat_percentage_j);

// console.log('articles_one_month_body_fat_percentage_jの[1]のタイプの出力');
// console.log(typeof(articles_one_month_body_fat_percentage_j[1]));

// console.log('articles_one_month_body_fat_percentage_jのタイプの出力');
// console.log(typeof(articles_one_month_body_fat_percentage_j));
// console.log(typeof('0.155'));

// console.log('testの出力');
// console.log(test);
// console.log('testのタイプの出力');
// console.log(typeof(test));
// console.log(typeof(test[0]));


    // グラフ作成時のjs
// articles_one_month_weight_j = (string(articles_one_month_weight_j)).split(',');

// articles_one_month_weight_j = articles_one_month_weight_j.map(function (e) {
//     return e
// });

// articles_one_month_weight_j = articles_one_month_weight_j.map(function(value) {
//     //配列の各値を返す
//     return value;
//     });
// // 確認用のログ出力

// arr_jsonをパースし配列にする
// var articles_one_month_weight_j = JSON.parse(arrJson2);

// test = ['63.155','60.118','61.121','61.068','61.083','60.060','60.067',
//             '60.121','60.121','59.150','60.118','60.097','58.078','58.127',
//             '58.155','60.140','60.101','57.140','60.041','57.093','60.189',
//             '57.146','NULL','57.127','57.116','57.111','60.125','NULL'
//         ],


    // labels: ['8/26','8/27','8/28','8/29','8/30','8/31','9/1',
    //     '9/2','9/3','9/4','9/5','9/6','9/7','9/8',
    //     '9/9','9/10','9/11','9/12','9/13','9/14',
    //     '9/15','9/16','9/17','9/18','9/19','9/20','9/21','9/22'
    // ],


        // console.log('testの出力');
        // console.log(test);
        // console.log('testのタイプの出力');
        // console.log(typeof(test[0]));


        // data: articles_one_month_weight_j,
        // data: ['0.155','0.118','0.121','0.068','0.083','0.060','0.067',
        //     '0.121','0.121','0.150','0.118','0.097','0.078','0.127',
        //     '0.155','0.140','0.101','0.140','0.041','0.093','0.189',
        //     '0.146','0.134','0.127','0.116','0.111','0.125','0.116'
        // ],


        // data: ['0.3','0.1','0.1','0.3','0.4','0.2','0.0',
        //     '0.2','0.3','0.11','0.5','0.2','0.5','0.4',
        //     '0.0','0.3','0.7','0.3','0.6','0.4','0.9',
        //     '0.7','0.4','0.8','0.7','0.4','0.7','0.8'
        // ],
        // data: ['10.3','10.1','10.1','10.3','10.4','10.2','10.0',
        //     '10.2','10.3','10.11','10.5','10.2','10.5','10.4',
        //     '10.0','10.3','10.7','10.3','10.6','10.4','10.9',
        //     '10.7','10.4','10.8','10.7','10.4','10.7','10.8'
        // ],
        // borderColor : "rgba(54,164,235,0.8)",



// // @sample = { a: 1, b: 2, c: 3 }
// var articles_one_month_date_j = <%= @articles_one_month_date_j.to_json.html_safe %>;
// // const re = /(?<=\")[^,\s].*?(?=\")/g;
// articles_one_month_date_j = articles_one_month_date_j.dataset.text.match(',');
// // articles_one_month_date_j = articles_one_month_date_j.slice(1);
// // articles_one_month_date_j = articles_one_month_date_j.slice(-1);
// // articles_one_month_date_j = articles_one_month_date_j.dataset.text.split(',');

// // articles_one_month_date_j = articles_one_month_date_j.split(',');
// console.log(articles_one_month_date_j);
// console.log(typeof(articles_one_month_date_j));



// var articles_one_month_weight_j = <%= @articles_one_month_weight_j.to_json.html_safe %>;
// articles_one_month_weight_j = articles_one_month_weight_j.split(',');
// console.log(articles_one_month_weight_j);
// console.log(typeof(articles_one_month_weight_j));

// var articles_one_month_body_fat_percentage_j = <%= @articles_one_month_body_fat_percentage_j.to_json.html_safe %>;
// articles_one_month_body_fat_percentage_j = articles_one_month_body_fat_percentage_j.split(',');
// console.log(articles_one_month_body_fat_percentage_j);
// console.log(typeof(articles_one_month_body_fat_percentage_j));

// #=> Object {a: 1, b: 2, c: 3}
// console.log(test.a);
// #=> 1

// var test = #{{@articles_one_month_date.to_json}};
// var articles_one_month_date = #{{@articles_one_month_date.to_json}};
// var articles_one_month_weight = #{{@articles_one_month_weight.to_json}};
// var articles_one_month_body_fat_percentage = #{{@articles_one_month_body_fat_percentage.to_json}};

// var articles_one_month_date = #{{@articles_one_month_date_j}};
// var articles_one_month_weight = @articles_one_month_weight
// var articles_one_month_body_fat_percentage = @articles_one_month_body_fat_percentage



// // とある4週間分のデータログ
// // arr_json取得
// var arrJson = $('.arr_json').val();
// // arr_jsonをパースし配列にする
// var arr = JSON.parse(arrJson);
// // 確認用のログ出力
// console.log('確認よう');
// console.log(arr);

</script>

<%
=begin %>
                                <% sample = embedded_svg "/user_images/chat.svg"), class: "chat-icon", %>
                                <%= link_to image_tag(sample), user_article_path(user_id: article.user_id, id:article.id) %>
<%
=end %>

<%
=begin %>

<h2 class="articles_list"><%= "投稿一覧 / ユーザー名：" + @user.name %></h2>
<p id="notice"><%= notice %></p>
<%# chart.jsの読み込み %>

<h2>グラフ表示</h2>
<% if @articles_one_month_date == nil %>
    <p>※ グラフデータがありません</br>
    ※ 他の月のグラフを表示させる場合は、年月を入力して検索ボタンを押してください</p>
<% end %>

<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <div class="field">
        <%# オプション :use_month_numbers 月を数字で表示,:discard_day 日の選択ボックスを非表示, include_blank: true 空を含めて表示→不要 %>
        <% if @description_first_day %>
            <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true, selected: @description_first_day.to_date %>
        <% else %>
            <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true %>
        <% end %>
            <%= f.hidden_field :user_id, value: params[:user_id] %>
    <%# コントローラーに配列を渡す %>
            <% @articles.each do |article| %>
                <%= hidden_field_tag 'articles[][id]', article.id %>
            <% end %>

        <%# 検索語句絞り込みのインスタンス変数を渡す %>
        <% if params[:keyword] %>
            <%= f.hidden_field :keyword, value: params[:keyword] %>
        <% end %>
        <% if params[:date_from] %>
            <%= f.hidden_field :date_from, value: params[:date_from] %>
        <% end %>
        <% if params[:date_to] %>
            <%= f.hidden_field :date_to, value: params[:date_to] %>
        <% end %>
    </div>
    <%= f.submit "検索" %>
<% end %>

<%# グラフ表示 %>
<% if @articles_one_month_date %>
    <div class="container" style="width:100%, length:70%">
        <canvas id="canvas"></canvas>
    </div>
<% end %>

<h2>検索語句</h2>
<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <% if @first_day %>
        <%= f.hidden_field :first_day, value: @first_day %>
    <% end %>
    <% if @articles_one_month_date == nil %>
        <%= f.hidden_field :articles_one_month_date, value: @articles_one_month_date %>
    <% end %>
    <% if @articles_one_month %>
        <% @articles_one_month.each do |article| %>
            <%= hidden_field_tag 'articles_one_month[][id]', article.id %>
        <% end %>
    <% end %>
    <div class="field">
        <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
    </div>

    <%# 年月絞り込みのインスタンス変数を渡す %>
    <% if @description_first_day %>
        <%= f.hidden_field :description_first_day, value: @description_first_day %>
    <% end %>
    <%= f.submit "検索" %>
<% end %>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div class="image">
                <% if article.user.image == "default.png" %>
                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                <% else %>
                    <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                <% end %>
                <div class="content good">
                    <%# 非同期通信のためのid設定 %>
                    <p id="article_<%= article.id %>">
                    <%# 「,」の後ろは、article: で変数を定義している %>
                        <%= render 'layouts/article', article: article %>
                    </p>
                </div>
            </div>
            <div class="name">
                <p>(名前)</p>
                <%= link_to article.user.name, user_path(article.user_id) %>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>
            <div class="weight">
                <p>(目標との乖離)</p>
                <% if article.user.target_weight && article.weight %>
                    <p class="make_a_margin-bottom"><%= (article.user.target_weight - article.weight).round(1) %></p>
                <% else %>
                    <p class="make_a_margin-bottom"><%= "目標を設定してください" %></p>
                <% end %>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">
            <div class="article_button">
                <%# アソシエーションのモデルで、idを指定したリンクは引数が2つ必要 %>
                <%= link_to "詳細", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                <% if logged_in? %>
                    <% if current_user.admin %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% elsif article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                <% end %>
            </div>
            <!--コメント投稿部分-->
            <%# @commentがsaveに失敗した場合、@commentに情報が残っているので条件分岐できる %>
            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'articles_index' } %>
                </div>
            <% else %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'articles_index' } %>
                </div>
            <% end %>

            <!--コメント一覧部分-->
            <div id="comments_area">
                <%= render 'comments/article_comments', article: article, comment: @comment, controller_path: 'articles_index' %>
            </div>
        </div>
    </article>
<% end %>
<%
=end %>

<%
=begin %>
<h2 class="articles_list"><%= "投稿一覧 / ユーザー名：" + @user.name %></h2>
<p id="notice"><%= notice %></p>
<%# chart.jsの読み込み %>

<h2>グラフ表示</h2>
<% if @articles_one_month_date == nil %>
    <p>※ グラフデータがありません</br>
    ※ 他の月のグラフを表示させる場合は、年月を入力して検索ボタンを押してください</p>
<% end %>

<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <div class="field">
        <%# オプション :use_month_numbers 月を数字で表示,:discard_day 日の選択ボックスを非表示, include_blank: true 空を含めて表示→不要 %>
        <% if @description_first_day %>
            <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true, selected: @description_first_day.to_date %>
        <% else %>
            <%= f.date_select:year_month , start_year: 2020, use_month_numbers: true, discard_day: true %>
        <% end %>
            <%= f.hidden_field :user_id, value: params[:user_id] %>
    <%# コントローラーに配列を渡す %>
            <% @articles.each do |article| %>
                <%= hidden_field_tag 'articles[][id]', article.id %>
            <% end %>

        <%# 検索語句絞り込みのインスタンス変数を渡す %>
        <% if params[:keyword] %>
            <%= f.hidden_field :keyword, value: params[:keyword] %>
        <% end %>
        <% if params[:date_from] %>
            <%= f.hidden_field :date_from, value: params[:date_from] %>
        <% end %>
        <% if params[:date_to] %>
            <%= f.hidden_field :date_to, value: params[:date_to] %>
        <% end %>
    </div>
    <%= f.submit "検索" %>
<% end %>

<%# グラフ表示 %>
<% if @articles_one_month_date %>
    <div class="container" style="width:100%, length:70%">
        <canvas id="canvas"></canvas>
    </div>
<% end %>

<h2>検索語句</h2>
<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <% if @first_day %>
        <%= f.hidden_field :first_day, value: @first_day %>
    <% end %>
    <% if @articles_one_month_date == nil %>
        <%= f.hidden_field :articles_one_month_date, value: @articles_one_month_date %>
    <% end %>
    <% if @articles_one_month %>
        <% @articles_one_month.each do |article| %>
            <%= hidden_field_tag 'articles_one_month[][id]', article.id %>
        <% end %>
    <% end %>
    <div class="field">
        <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
    </div>

    <%# 年月絞り込みのインスタンス変数を渡す %>
    <% if @description_first_day %>
        <%= f.hidden_field :description_first_day, value: @description_first_day %>
    <% end %>
    <%= f.submit "検索" %>
<% end %>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div class="image">
                <% if article.user.image == "default.png" %>
                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                <% else %>
                    <%= image_tag "/user_images/user_#{article.user_id}.png", size: '150x150' %>
                <% end %>
                <div class="content good">
                    <%# 非同期通信のためのid設定 %>
                    <p id="article_<%= article.id %>">
                    <%# 「,」の後ろは、article: で変数を定義している %>
                        <%= render 'layouts/article', article: article %>
                    </p>
                </div>
            </div>
            <div class="name">
                <p>(名前)</p>
                <%= link_to article.user.name, user_path(article.user_id) %>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>
            <div class="weight">
                <p>(目標との乖離)</p>
                <% if article.user.target_weight && article.weight %>
                    <p class="make_a_margin-bottom"><%= (article.user.target_weight - article.weight).round(1) %></p>
                <% else %>
                    <p class="make_a_margin-bottom"><%= "目標を設定してください" %></p>
                <% end %>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">
            <div class="article_button">
                <%# アソシエーションのモデルで、idを指定したリンクは引数が2つ必要 %>
                <%= link_to "詳細", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                <% if logged_in? %>
                    <% if current_user.admin %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% elsif article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                <% end %>
            </div>
            <!--コメント投稿部分-->
            <%# @commentがsaveに失敗した場合、@commentに情報が残っているので条件分岐できる %>
            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'articles_index' } %>
                </div>
            <% else %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'articles_index' } %>
                </div>
            <% end %>

            <!--コメント一覧部分-->
            <div id="comments_area">
                <%= render 'comments/article_comments', article: article, comment: @comment, controller_path: 'articles_index' %>
            </div>
        </div>
    </article>
<% end %>

<%# erbのコード コントローラーからビューへ配列を渡すための記述 %>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_date_j %> class='arr_json1'/>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_weight_j %> class='arr_json2'/>
<input name="arr_json" type="hidden" value=<%= @articles_one_month_body_fat_percentage_j %> class='arr_json3'/>
<%
=end %>



<%
=begin %>
testで検索年月を表示させる
<% if @first_day %>
    <%= "検索年月：" + @first_day %>
<% end %>

-----------


<input name="arr_json" type="hidden" value=<%= @max_weight %> class='arr_json3'/>

-----------


グラフ表示はできるコード 年月がおかしい
        <%= f.date_select:year_month , value: params[:year_month], start_year: 2020, use_month_numbers: true, discard_day: true  %>

-----------
    グラフ作成時

<% if params[:"year_month(1i)"] %>
    <%= "絞り込み ：" + params[:year_month(1i)] + params[:year_month(2i)] %>
<% end %>


    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>

    <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
    "article", "written_on", 


<%= f.date_select:params[:"year_month(1i)"] , value: params[:"year_month(2i)"], start_year: 2020, use_month_numbers: true, discard_day: true %>
<%= f.date_select: year_month , prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: 2020, use_month_numbers: true, discard_day: true  %>
月は反映されないが動くコード
    <%= f.date_select:year_month , value: params[:year_month], start_year: 2020, use_month_numbers: true, discard_day: true  %>

    params["year_month(2i)"]

    prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }

-----------

<canvas id="myChart" width="400" height="400"></canvas>
<script>draw_graph();</script>

<% @articles.each do |article| %>
    <div>
        <%= article.weight %>
        <%= article.body_fat_percentage %>
    </div>
<% end %>

-----------

                ユーザーの投稿一覧へのリンクは不要
                <%= link_to "ユーザーの投稿一覧", articles_path(article.user.id), class: "btn btn-info" %>

-----------

        <%= f.label(:date, User.article_attribute(:date)) %>

<div class="search-form">
    <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit "検索" %>
    <% end %>
</div>

        <div class="field">
        <%= f.label(:name, User.human_attribute_name(:name)) %>
        <%= f.text_field :name, value: @search_params[:name] %>
        </div>

        <div class="field">
        <%= f.label(:gender, User.human_attribute_name(:gender)) %>
        <%= f.collection_radio_buttons(:gender, User.genders, :first, :first) do |r| %>
            <%= tag.div(class: 'form-check form-check-inline') do %>
            <%= r.radio_button(checked: r.value == @search_params[:gender], class: 'form-check-input') + f.label(User.human_attribute_name("gender.#{r.text}"), class: 'form-check-label') %>
            <% end %>
        <% end %>
        </div>

        <div class="field">
        <%= f.label(:prefecture_id, User.human_attribute_name(:prefecture_id)) %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, selected: @search_params[:prefecture_id], include_blank: t('helpers.select.include_blank')) %>
        </div>

        <div class="actions">
        <%= f.submit(t('helpers.submit.search')) %>
        </div>

-----------

<div class="search-form">
    <%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
        <%# @〜のインスタンス変数を渡したり受け取ったりする %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="field">
            <%# @〜のインスタンス変数を渡したり受け取ったりする %>
            <%= f.date_field :date_from, value: @date_from %> ~ <%= f.date_field :date_to, value: @date_to %>
        </div>
        <%= f.submit "検索" %>
    <% end %>
</div>
<%
=end %>



