
<h2 class="articles_list"><%= "投稿一覧 / ユーザー名：" + @user.name %></h2>

<p id="notice"><%= notice %></p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

<div class="container" style="width:100%, length:70%">
    <canvas id="canvas"></canvas>
</div>

<h1>検索語句</h1>
<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <div class="field">
        <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
    </div>
    <%= f.submit "検索" %>
<% end %>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div class="image">
                <% if article.user.image == "default.png" %>
                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                <% else %>
                    <%= image_tag "/user_images/user_#{article.user.id}.png", size: '150x150' %>
                <% end %>
            </div>
            <div class="name">
                <p>(名前)</p>
                <p class="make_a_margin-bottom"><%= article.user.name %></p>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>
            <div class="weight">
                <p>(目標との乖離)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">
            <div class="content good">
                <%# 非同期通信のためのid設定 %>
                <p id="article_<%= article.id %>">
                <%# 「,」の後ろは、article: で変数を定義している %>
                    <%= render 'layouts/article', article: article %>
                </p>
            </div>
            <div class="article_button">
                <%# アソシエーションのモデルで、idを指定したリンクは引数が2つ必要 %>
                <%= link_to "詳細", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                <% if logged_in? %>
                    <% if current_user.admin %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% elsif article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                <% end %>
            </div>
            <!--コメント投稿部分-->
            <%# @commentがsaveに失敗した場合、@commentに情報が残っているので条件分岐できる %>
            <% if @comment.article_id.present? && @comment.article_id == article.id %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: @comment, controller_path: 'articles_index' } %>
                </div>
            <% else %>
                <div class="new-comment">
                    <%= render partial: 'comments/form', locals: { article: article, comment: Comment.new, controller_path: 'articles_index' } %>
                </div>
            <% end %>

            <!--コメント一覧部分-->
            <div id="comments_area">
                <%= render 'comments/article_comments', article: article, comment: @comment, controller_path: 'articles_index' %>
            </div>
        </div>
    </article>
<% end %>


<%# よく見たらerbではない<input name="arr_json" type="hidden" value=<%= @articles_30days_date_j %> class='arr_json'/>
 %>






<%# 
<script>
window.onload = function() {
    ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: complexChartOption
    });
};
</script> %>


<script>


// @sample = { a: 1, b: 2, c: 3 }
var articles_30days_date_j = <%= @articles_30days_date_j.to_json.html_safe %>;
// const re = /(?<=\")[^,\s].*?(?=\")/g;
articles_30days_date_j = articles_30days_date_j.dataset.text.match(',');
// articles_30days_date_j = articles_30days_date_j.slice(1);
// articles_30days_date_j = articles_30days_date_j.slice(-1);
// articles_30days_date_j = articles_30days_date_j.dataset.text.split(',');

// articles_30days_date_j = articles_30days_date_j.split(',');
console.log(articles_30days_date_j);
console.log(typeof(articles_30days_date_j));



// var articles_30days_weight_j = <%= @articles_30days_weight_j.to_json.html_safe %>;
// articles_30days_weight_j = articles_30days_weight_j.split(',');
// console.log(articles_30days_weight_j);
// console.log(typeof(articles_30days_weight_j));

// var articles_30days_body_fat_percentage_j = <%= @articles_30days_body_fat_percentage_j.to_json.html_safe %>;
// articles_30days_body_fat_percentage_j = articles_30days_body_fat_percentage_j.split(',');
// console.log(articles_30days_body_fat_percentage_j);
// console.log(typeof(articles_30days_body_fat_percentage_j));



// var barChartData = {
//     labels: articles_30days_date_j,
//     // labels: ['8/26','8/27','8/28','8/29','8/30','8/31','9/1',
//     //     '9/2','9/3','9/4','9/5','9/6','9/7','9/8',
//     //     '9/9','9/10','9/11','9/12','9/13','9/14',
//     //     '9/15','9/16','9/17','9/18','9/19','9/20','9/21','9/22'
//     // ],
//     datasets: [
//     {
//         type: 'line',
//         label: 'sample-line',
//         data: articles_30days_weight_j,
//         // data: ['0.155','0.118','0.121','0.068','0.083','0.060','0.067',
//         //     '0.121','0.121','0.150','0.118','0.097','0.078','0.127',
//         //     '0.155','0.140','0.101','0.140','0.041','0.093','0.189',
//         //     '0.146','0.134','0.127','0.116','0.111','0.125','0.116'
//         // ],
//         borderColor : "rgba(254,97,132,0.8)",
//                 pointBackgroundColor    : "rgba(254,97,132,0.8)",
//                 fill: false,
//         yAxisID: "y-axis-1",// 追加
//     },
//     {
//         type: 'line',
//         label: 'sample-bar',
//         data: articles_30days_body_fat_percentage_j,
//         // data: ['0.3','0.1','0.1','0.3','0.4','0.2','0.0',
//         //     '0.2','0.3','0.11','0.5','0.2','0.5','0.4',
//         //     '0.0','0.3','0.7','0.3','0.6','0.4','0.9',
//         //     '0.7','0.4','0.8','0.7','0.4','0.7','0.8'
//         // ],
//         borderColor : "rgba(54,164,235,0.8)",
//         backgroundColor : "rgba(54,164,235,0.5)",
//         yAxisID: "y-axis-2",
//     },
//     ],
// };
// </script>

// <script>
// var complexChartOption = {
//     responsive: true,
//     scales: {
//         yAxes: [{
//             id: "y-axis-1",
//             type: "linear", 
//             position: "left",
//             ticks: {
//                 max: 0.2,
//                 min: 0,
//                 stepSize: 0.1
//             },
//         }, {
//             id: "y-axis-2",
//             type: "linear", 
//             position: "right",
//             ticks: {
//                 max: 1.5,
//                 min: 0,
//                 stepSize: .5
//             },
//             gridLines: {
//                 drawOnChartArea: false, 
//             },
//         }],
//     }
// };
// </script>


<script>
// #=> Object {a: 1, b: 2, c: 3}
// console.log(test.a);
// #=> 1

// var test = #{{@articles_30days_date.to_json}};
// var articles_30days_date = #{{@articles_30days_date.to_json}};
// var articles_30days_weight = #{{@articles_30days_weight.to_json}};
// var articles_30days_body_fat_percentage = #{{@articles_30days_body_fat_percentage.to_json}};

// var articles_30days_date = #{{@articles_30days_date_j}};
// var articles_30days_weight = @articles_30days_weight
// var articles_30days_body_fat_percentage = @articles_30days_body_fat_percentage



// // とある4週間分のデータログ
// // arr_json取得
// var arrJson = $('.arr_json').val();
// // arr_jsonをパースし配列にする
// var arr = JSON.parse(arrJson);
// // 確認用のログ出力
// console.log('確認よう');
// console.log(arr);

</script>

<%
=begin %>
<canvas id="myChart" width="400" height="400"></canvas>
<script>draw_graph();</script>

<% @articles.each do |article| %>
    <div>
        <%= article.weight %>
        <%= article.body_fat_percentage %>
    </div>
<% end %>
<%
=end %>

<%
=begin %>
                ユーザーの投稿一覧へのリンクは不要
                <%= link_to "ユーザーの投稿一覧", articles_path(article.user.id), class: "btn btn-info" %>
<%
=end %>

<%
=begin %>
        <%= f.label(:date, User.article_attribute(:date)) %>

<div class="search-form">
    <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit "検索" %>
    <% end %>
</div>

        <div class="field">
        <%= f.label(:name, User.human_attribute_name(:name)) %>
        <%= f.text_field :name, value: @search_params[:name] %>
        </div>

        <div class="field">
        <%= f.label(:gender, User.human_attribute_name(:gender)) %>
        <%= f.collection_radio_buttons(:gender, User.genders, :first, :first) do |r| %>
            <%= tag.div(class: 'form-check form-check-inline') do %>
            <%= r.radio_button(checked: r.value == @search_params[:gender], class: 'form-check-input') + f.label(User.human_attribute_name("gender.#{r.text}"), class: 'form-check-label') %>
            <% end %>
        <% end %>
        </div>

        <div class="field">
        <%= f.label(:prefecture_id, User.human_attribute_name(:prefecture_id)) %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, selected: @search_params[:prefecture_id], include_blank: t('helpers.select.include_blank')) %>
        </div>

        <div class="actions">
        <%= f.submit(t('helpers.submit.search')) %>
        </div>
<%
=end %>

<%
=begin %>
<div class="search-form">
    <%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
        <%# @〜のインスタンス変数を渡したり受け取ったりする %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="field">
            <%# @〜のインスタンス変数を渡したり受け取ったりする %>
            <%= f.date_field :date_from, value: @date_from %> ~ <%= f.date_field :date_to, value: @date_to %>
        </div>
        <%= f.submit "検索" %>
    <% end %>
</div>
<%
=end %>