
<h2 class="articles_list"><%= "投稿一覧 / ユーザー名：" + @user.name %></h2>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <div class="field">
        <%= f.date_field :date_from, value: params[:date_from] %> ~ <%= f.date_field :date_to, value: params[:date_to] %>
    </div>
    <%= f.submit "検索" %>
<% end %>

<% @articles.each do |article| %>
    <article>
        <div class="content">
            <div class="image">
                <% if article.user.image == "default.png" %>
                    <%= image_tag "/user_images/#{article.user.image}", size: '150x150' %>
                <% else %>
                    <%= image_tag "/user_images/user_#{article.user.id}.png", size: '150x150' %>
                <% end %>
            </div>
            <div class="name">
                <p>(名前)</p>
                <p class="make_a_margin-bottom"><%= article.user.name %></p>
                <p>(計測日)</p>
                <p class="make_a_margin-bottom"><%= article.date %></p>
            </div>
            <div class="weight">
                <p>(目標との乖離)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体重)</p>
                <p class="make_a_margin-bottom"><%= article.weight %></p>
                <p>(体脂肪率)</p>
                <p class="make_a_margin-bottom"><%= article.body_fat_percentage %></p>
            </div>
            <div class="meal">
                <p>(食事(朝))</p>
                <p class="make_a_margin-bottom"><%= article.meal_morning %></p>
                <p>(食事(昼))</p>
                <p class="make_a_margin-bottom"><%= article.meal_lunch %></p>
                <p>(食事(夜))</p>
                <p class="make_a_margin-bottom"><%= article.meal_dinner %></p>
                <p>(食事(間食))</p>
                <p class="make_a_margin-bottom"><%= article.meal_snack %></p>
            </div>
            <div class="exercise">
                <p>(運動)</p>
                <p class="make_a_margin-bottom"><%= article.exercise %></p>
                <p>(メモ)</p>
                <p class="make_a_margin-bottom"><%= article.memo %></p>
            </div>
        </div>
        <div class="content button_zone">
            <div class="content good">
                <%# <p class="good_position">いいね</p> %>
                <%= image_tag '/heart.png', size: '20x20', class:"good_position" %>
                <p>○○件</p>
                <%= image_tag '/comment.png', size: '30x30', class:"good_position" %>
                <%# <p>コメント</p> %>
            </div>
            <div class="article_button">
                <%# アソシエーションのモデルで、idを指定したリンクは引数が2つ必要 %>
                <%= link_to "詳細", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                <% if logged_in? %>
                    <% if article.user_id == current_user.id %>
                        <%= link_to "編集", edit_user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-info" %>
                        <%= link_to "削除", user_article_path(user_id:article.user_id, id:article.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </article>
<% end %>

<%
=begin %>
                ユーザーの投稿一覧へのリンクは不要
                <%= link_to "ユーザーの投稿一覧", articles_path(article.user.id), class: "btn btn-info" %>
<%
=end %>

<%
=begin %>
        <%= f.label(:date, User.article_attribute(:date)) %>

<div class="search-form">
    <%= form_with url: articles_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit "検索" %>
    <% end %>
</div>

        <div class="field">
        <%= f.label(:name, User.human_attribute_name(:name)) %>
        <%= f.text_field :name, value: @search_params[:name] %>
        </div>

        <div class="field">
        <%= f.label(:gender, User.human_attribute_name(:gender)) %>
        <%= f.collection_radio_buttons(:gender, User.genders, :first, :first) do |r| %>
            <%= tag.div(class: 'form-check form-check-inline') do %>
            <%= r.radio_button(checked: r.value == @search_params[:gender], class: 'form-check-input') + f.label(User.human_attribute_name("gender.#{r.text}"), class: 'form-check-label') %>
            <% end %>
        <% end %>
        </div>

        <div class="field">
        <%= f.label(:prefecture_id, User.human_attribute_name(:prefecture_id)) %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, selected: @search_params[:prefecture_id], include_blank: t('helpers.select.include_blank')) %>
        </div>

        <div class="actions">
        <%= f.submit(t('helpers.submit.search')) %>
        </div>
<%
=end %>

<%
=begin %>
<div class="search-form">
    <%= form_with(url: user_articles_search_path, method: :get, local: true) do |f| %>
        <%# @〜のインスタンス変数を渡したり受け取ったりする %>
        <%= f.text_field :keyword, value: @keyword %>
        <%# ユーザーのid（ユーザーがフォームから入力しない情報）をパラメーターとして渡す %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="field">
            <%# @〜のインスタンス変数を渡したり受け取ったりする %>
            <%= f.date_field :date_from, value: @date_from %> ~ <%= f.date_field :date_to, value: @date_to %>
        </div>
        <%= f.submit "検索" %>
    <% end %>
</div>
<%
=end %>