
<% provide(:title, 'Sign Up') %>

<main class="position-relative">
    <div class="form-signin position-absolute top-50 start-50 translate-middle">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
            <div class="text-center mb-4">
                <%= form_with(model: @user, local: true) do |f| %>
                    <%# エラーメッセージを読み込む %>
                    <%= render 'shared/error_messages' %>
                    <div class="mb-3">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control', required:true , autofocus:true %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control', required:true %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control', required:true %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: 'form-control', required:true %>
                    </div>
                    <div><%= f.submit "SIGN UP", class: "btn btn-primary btn-block btn-signup" %></div>
                <% end %>
            </div>
        </div>
    </div>
</main>
