<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to " WEIGHT CONTROL", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <%# logged_in?でsessions_helperのcurrent_userを叩く @current_user.idが使える %>
                <% if logged_in? %>
                    <% if current_user.admin? %>
                        <li><%= link_to "ユーザー一覧(管理者限定)", users_path %></li>
                    <% end %>
                    <%# アソシエーションのモデルで、idを指定したリンクは引数が2つ必要 %>
                    <li><%= link_to "新規投稿", new_user_article_path(user_id: @current_user.id) %></li>
                    <li><%= link_to "自分の投稿一覧", user_articles_path(user_id: @current_user.id) %></li>
                    <li><%= link_to "お気に入りユーザー一覧", "#" %></li>
                    <li><%= link_to "プロフィール", user_path(@current_user.id) %></li>
                    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "ログイン", login_path %></li>
                    <li><%= link_to "ユーザー登録", signup_path %></li>
                <% end %>

            </ul>
        </nav>
    </div>
</header>