
<!DOCTYPE html>
<html>
  <head>
  <%# full_title関数 / application_helper.rbの関数を呼び出す %>
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag 'application', media: 'all',
                                          'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%# <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poor+Story&display=swap" rel="stylesheet"> %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poor+Story&display=swap" rel="stylesheet">
  </head>

  <body id="page-top">

    <%= render 'layouts/header' %>
    <%# # 存在する場合、フラッシュメッセージの表示 %>
		<% flash.each do |message_type, msg| %>
      <div class="alert alert-<%= message_type %>"><%= msg %></div>
    <% end %>

    <%= yield %>
    <%# /*コンテンツ内に空の要素(.push)を加える*/ %>
    <%# <div class="push"></div> %>
    <%= render 'layouts/footer' %>
  </body>
</html>




