
<!DOCTYPE html>
<html>
  <head>
  <%# full_title関数 / application_helper.rbの関数を呼び出す %>
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag 'application', media: 'all',
                                          'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
  <%# # 存在する場合、フラッシュメッセージの表示 %>

		<% flash.each do |message_type, msg| %>
      <div class="alert alert-<%= message_type %>"><%= msg %></div>
    <% end %>

    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>




